mixin 1-dash-custom-table(th1,th2,th3,th4,th5)
  
  
  tr
    td=th1
    td=th2
    td=th3
    td=th4
    td=th5
  
tr
  +1-dash-custom-table("Capsule","Users"," importer","Capsule","Users"," importer")
  +1-dash-custom-table("Capsule","Users"," importer","Capsule","Users"," importer")
  +1-dash-custom-table("Capsule","Users"," importer","Capsule","Users"," importer")