mixin 2-dashboard-card-home-reading(imglink,heading,paragrph,minutes, className)
  div.card-home-reading(class=className)  
    div.card-home-reading__img
        img(src=imglink)
    div.card-home-reading__heading=heading
    div.card-home-reading__paragrph=paragrph
    div.card-home-reading__minutes=minutes

